.container {
  display: flex;
  gap: 20px;
}
.column {
  flex: 1;
  padding: 20px;
}

h1 {
    text-align: center;
    font-family: "zebrawood-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    padding-top: 80px;
}

p {
    font-family: afacade-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.8;
}

.footer {
    text-align: left;
    font-family: afacade-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.675rem;
    margin-top: 40px;
    line-height: 1rem;
    word-spacing: -0.1rem;
}