body {
  width: min(800px, 90%);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  body {
    background-color: #eaf6ff;
  }
}

h1 {
  font-size: 1.5rem;
}

@media (min-width: 641px) {
  h1 {
    font-size: 2.5rem;
  }
}

#fixed-size-grid-items ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

#fixed-size-grid-items li {
  margin: 0;
}

#fixed-size-grid-items aside {
  width: 170px;
  margin: 10px;
  font-size: 0.8rem;
  background: #eaf6ff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

#stretchable-grid-items ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -10px;
}

#stretchable-grid-items li {
  width: 100%;
  box-sizing: border-box;
}

#stretchable-grid-items aside {
  margin: 10px;
  font-size: 0.8rem;
  background: #eaf6ff;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

@media (min-width: 481px) {
  #stretchable-grid-items li {
    width: 50%;
  }
}

@media (min-width: 641px) {
  #stretchable-grid-items li {
    width: 25%;
  }
}