html{
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20pt; 
    }

    .divider {
    border: none;
    border-top: 1.5px solid #e0e0e0;
    margin: 32px 0;
  }

  body{ 
    margin: 20%;
  }

  h1{ 
    font-size: 32pt; 
    text-transform: capitalize;
    margin-bottom: 0;
  }

  h2{ 
    font-size: 24pt; 
  }