.background-image-example {
  background-image: url(https://wudesign.me/resources/using-images/images/shelf-cloud-vertical.jpg);
  padding: 10% 5% 45% 40%;
    background-size: cover;
    background-position: center 20%;
}

.full-width {
  width: 800px;
  height: auto;
  display: block;
}

.compressed-image {
  width: 100%;
  margin: 0;
  padding: 0;
}